
{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		<div class="row">

			<div class="col m8 s12">

				<div class="card">

					 <div class="card-image">

					 	 <img src="https://via.placeholder.com/1000x600">

					 </div>

					 <div class="card-content">

					 	<p>May 29,2019 - zakariae aboud</p>

					 	<h1 style="font-size:2.5rem;margin-top:0.25em" class="red-text">title</h1>

					 	<p>paragraph</p>

					 	<hr style="border:0">

					 	<p><a href="" class="red-text">read more ...</a></p>

					 </div>

				</div>

			</div>

			<div class="col m4 s12">

				<div class="card">

					<div class="card-content">

						<h1 style="font-size:1.5rem;margin-top:0">Newsletter</h1>

						<p>Join the weekly newsletter and never miss out on new tips, tutorials, and more.</p>

						<form>

							<div class="input-field">

								<input id="email" type="text" name="email">

								<label for="email">email</label>

								<button class="btn red" style="width:100%;text-transform:none">subscribe</button>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

	</div>
	
{% endblock %}