<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{asset('css/materialize.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="grey lighten-3">
    	<nav>
		    <div class="nav-wrapper white">
		      <a href="#" class="brand-logo center red-text">Th2-informatique</a>
		    </div>
		 </nav>
        {% block body %}{% endblock %}
        <hr>
        <footer>
            build with love by zakariae aboud
        </footer>
        <script src="{{asset('js/materialize.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
